.venv
.env
*.pyc
__pycache__/
remote_tools/
remotes/
# tool_sources.yaml
CLAUDE.md
# Ignore all keys except the README.md file
deploy/keys/*
!deploy/keys/README.md

# Ignore actual tools from the server
deploy/tool_sources.yaml

# Secret settings
src/mcp_server/local_settings.py
